---
import { getLocaleRoute } from "@i18n/utils";
import DefaultLayout from "@layouts/DefaultLayout.astro";

const { homePageFields } = Astro.props
---

<DefaultLayout>
  <h1>{ homePageFields.hero.title }</h1>
  <br>

  <a href={getLocaleRoute(Astro.currentLocale, 'company')}>Company</a>


</DefaultLayout>